body{
    background-color: #fcb4b4;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;

}

    /* .active{
        background-color: purple;
    } */
li{
    display: inline;
    list-style-type: circle;
}